<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card col-12">
                  <div class="card-header">
                    <div class="card-title">Basic Table</div>
                  </div>
                  <div class="card-body">
                    <table class="table mt-3">
                      <thead>
                        <tr>
<!--                          <th scope="col">#</th>-->
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Subject</th>
                          <th scope="col">Message</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
<!--                          <td>1</td>-->
                          {% for d in contact %}
                          <td>{{d.Name}}</td>
                          <td>{{d.Email}}</td>
                          <td>{{d.Subject}}</td>
                          <td>{{d.Message}}</td>
                           <td><a href="{% url 'Delete_Contact' p_id=d.id %}">
                              <button>DELETE</button>
                          </a></td>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
</body>
</html>
{% endblock %}