<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url({% static 'User/img/payment/payment_gateway.jpg' %});">
<img src="">
<div style="text-align:center; margin-top:200px; height:200px" >
   <form method="post" action="#">
       {% csrf_token %}
        {{customer.Name}}
    <button type="submit" class="btn btn-outline-primary">
        Make Payment
    </button>
   </form>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_bXPA97UanCNNtB"
    data-amount="{{payy_str}}"
    data-currency="INR"
    data-order_id="{{payment.order_id}}"
    data-buttontext=""
    data-name="BigMart"
    data-description="Your description"
    data-image=""
    data-prefill.name="abc"
    data-prefill.email="abc@gmail.com"
    data-theme.color="#4badeb">
 </script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</body>
</html>